.navbar-brand-text {
    font-weight: bold;
    font-family: 'Arial', sans-serif; /*a stylish font type*/
    font-size: 1.6rem;
    color: auto;
    text-shadow: 2px 2px 4px rgba(243, 128, 5, 0.5); /*Shadow effect*/
    padding-left: 3px; /*padding for spacing*/
}

.navbar-brand-logo {
    border-radius: 10px; /*rounded corners*/
    box-shadow: 0 0 5px rgba(220, 199, 10, 0.5);/*glowing edges*/
    padding: 2px; /*padding for spacing*/
}
.navbar-brand-slogan {
    font-weight: bold;
    font-family: 'Arial', sans-serif; /*a stylish font type*/
    color: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*Shadow effect*/
    padding-left: 3px; /*padding for spacing*/
}